* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background-image: url('../assets/underwater.jpeg');
  background-position: center;
  background-size: cover;
  text-align: center;
  color: black;
} 

h1 { 
  color: white;
  font-size: 80px;
  font-family: 'Indie Flower', cursive;
}

.main-wrapper {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  margin-top: 0;
}

.left-side {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/scroll.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: none;
}

button {
  padding: 10px;
  margin: 10px;
}

.right-side {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
}


.grid-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; 
}



.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  /* height: 100%; */
  justify-content: center;
  height: 728px;
  width: 728px;
  background-color: white;
}

.grid div {
  border: 0.5px solid grey;
  flex-grow: 1;
  height: 56px;
  width: 56px;
  /* background-image: url('../assets/shell.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center; */
}

.grid div.ariel {
  background-image: url('../assets/ariel.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: none;
}

.grid div.shell {
  background-image: url('../assets/shell.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.grid div.starfish {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-image: url('../assets/starfish.png')
}

.grid div.ursula {
  background-image: url('../assets/ursula.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: none;
}

.grid div.wall {
  background-color: lightblue;
  background-image: none;
}

.grid div.whirlpool {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../assets/water-portal.png')
}

