* {
  box-sizing: border-box;
}

/* Main Section */

body {
  font-family:'Nerko One', cursive;
  font-size: 14px;
  text-align: center;
  color: #3F250B;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/underwater.jpeg');
  background-position: center;
  background-size: cover;
  margin: 0;
} 

.main-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 { 
  color: white;
  font-size: 100px;
}

h2 {
  font-size: 23px;
}

main {
  /* flex-grow: 1; */
  display: flex;
  margin: 0;
}

/* Left Section */

.left-side {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/scroll.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 420px 530px;
  background-color: none;
  margin-top: 160px;
  font-size: 15px;
  padding: 80px;
}


.scroll-text-one {
  height: 350px;
  width: 270px;
  flex-direction: column;
}

.key {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.shell-image {
  height: 30px;
  margin: 10px;
}

.starfish-image {
  height: 40px;
  margin: 10px;
}

.water-portal-image {
  height: 30px;
  margin: 5px 0px 10px 0 ;
}


/* Middle Section */

.middle-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 2;
  margin-bottom: 40px;
  font-size: 20px;
}

.controls {
  display: flex;
  color: white;
}

.shell-button {
  height: 80px;
  margin: 10px;
  cursor: pointer;
}

.sebastian-button {
  height: 80px;
  cursor: pointer;
  margin: 10px;
}

.reset-button {
  height: 80px;
  cursor: pointer;
  margin: 10px;
}

.bubbles {
  background-image: url("https://media.giphy.com/media/TfRM2BSvUJKigGOeYt/giphy.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: none;
}

.wood-plank {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 150px;
  background-image: url('../assets/wood-plank.png');
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}


/* /Right Side */


.right-side {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/scroll.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 420px 530px;
  background-color: none;
  margin-top: 160px;
  padding: 80px;
}

.scroll-text-two {
  height: 350px;
  width: 270px;
  flex-direction: column;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

div.scroll-text-two h2 {
  font-size: 30px;
}


button {
  padding: 10px;
  margin: 10px;
}

.try-again-button {
  display: none;
  padding: 10px;
  margin: 10px;
  font-family: 'Nerko One', cursive;
  font-size: 15px;
}

.show-button {
  background-color: turquoise;
  border: 2px white solid;
  color: white;
  display: inline;
  padding: 10px;
  margin: 10px;
  font-family: 'Nerko One', cursive;
}


/* Grid */

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 40px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 585x;
  width: 585px;
  background-color: white;
}

.grid div {
  border: 2px gold;
  flex-grow: 1;
  height: 45px;
  width: 45px;
  background-color: turquoise;
}

/* Grid Backgrounds */


.grid div.ariel {
  background-image: url('../assets/ariel.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: none;
}

.grid div.shell {
  background-image: url('../assets/shell.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.grid div.starfish {
  background-image: url("https://media.giphy.com/media/eBb20laqXRFsOaaXcV/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;

}

.grid div.whirlpool {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../assets/water-portal.png')
}

.grid div.ursula {
  background-image: url('../assets/ursula-2.png');
  background-color: turquoise;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: none;
}

.grid div.wall {
  background-color: darkslategray;
  background-image: none;
  border: 0.2px lightgray solid;
}

/* /Footer */

footer {
  color: white;
  font-family: 'Nerko One', cursive;
  font-size: 20px;
}

/* Media Queries */

@media only screen and (max-width: 880px) {
  main {
    flex-direction: column;
  }
  section:first-child {
    display: none;
  }
  section:last-child {
    display: none;
  }
}

